.container {
    display: grid;
    grid-gap: 10px;
    height: 98vh;
    grid-template-columns: 200px 150px 350px;
}
.grid-item {
    background-color:oldlace;
}
.grid-item:nth-of-type(1) {
    background-color:olivedrab;
    grid-row-end: span 3;
}
.grid-item:nth-of-type(4)
{
    grid-column-end: span 2;
}
.grid-item:nth-of-type(5)
{
    grid-column-start: 2;
    grid-column-end: span 2;
}
.photo {
    height: 200px;
    width: 200px;
}
.name,.sex,.number,.email,.birthday,.age,.content,.year{
    height: 50px;
    margin-top: 5px;
    text-align: center;
    font-size: medium;
}
.pride,.activity {
    margin-top: 5px;
    margin-left: 50px;
    font-size: medium;
    height: 30px;
}
.school{
    margin-top: 25px;
    font-weight: bold;
}
.about {
    font-weight: bold;
}
.xueli {
    font-weight: bold;
}
.pingjia {
    font-weight: bold;
    margin-bottom: 5px;
}
.sj{
    margin-top: 5px;
    height: 200px;
    width: 200px;
    margin-left: 75px;
}
.cs{
    height: 100px;
    width:100px;
    margin-left: 25px;
}
.title {
    margin-top: 25px;
    font-size: large;
    text-align: center;
    font-weight: bold;
    height: 50px;
}
.bird{
    height: 150px;
    width: 150px;
    margin-top:20px;
    margin-left: 25px;
}